name: Check Schedule Vinnytsia

on:
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *' # Запускать в 15 минут каждого часа

jobs:
  scrape:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4
      
      # 1. ВКЛЮЧАЕМ WARP (VPN) - Это ключевой шаг для прохода Cloudflare
      - name: Setup Warp
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. Ставим DrissionPage и Chrome
      - name: Install Deps
        run: |
          pip install DrissionPage==4.0.4.16
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable

      # 3. Запускаем
      - name: Run Script
        run: python main.py

      # 4. Скачиваем результат
      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: view-result
          path: |
            *.png
            *.html
