name: Firefox Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *'

jobs:
  scrape-firefox:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      # 1. WARP (VPN)
      - name: Setup Warp
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      # 2. Установка зависимостей системы (Xvfb)
      - name: Install Sys Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y xvfb

      # 3. Установка библиотек Python
      - name: Install Python Libs
        run: pip install -r requirements.txt

      # 4. Установка браузеров Playwright (только Firefox)
      - name: Install Playwright Browsers
        run: python -m playwright install firefox

      # 5. Установка зависимостей для браузера (библиотеки Linux)
      - name: Install Playwright Deps
        run: sudo npx playwright install-deps firefox

      # 6. ЗАПУСК
      # xvfb-run создает экран, чтобы Firefox мог отрисоваться
      - name: Run Script
        run: xvfb-run --auto-servernum --server-args="-screen 0 1920x1080x24" python main.py

      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: firefox-results
          path: |
            *.png
            *.html
