name: Check Schedule 100%

on:
  workflow_dispatch:
  schedule:
    - cron: '10 * * * *'

jobs:
  bypass:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      
      # 1. Смена IP (критически важно)
      - name: Setup Warp
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual

      - uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install Libs
        run: pip install -r requirements.txt

      # 2. Запуск. Сюда можно (но не обязательно) передать CF_COOKIE
      - name: Run Scraper
        env:
          CF_COOKIE: ${{ secrets.VOE_COOKIES }} 
        run: python main.py

      - name: Upload Result
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: results
          path: |
            *.html
