name: Go-Rod Mobile Scraper

on:
  workflow_dispatch:
  schedule:
    - cron: '15 * * * *'

jobs:
  scrape-iphone:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v4

      # 1. Смена IP через WARP (ОБЯЗАТЕЛЬНО)
      - name: Setup Warp
        uses: fscarmen/warp-on-actions@v1.1
        with:
          stack: dual

      # 2. Установка Go
      - uses: actions/setup-go@v5
        with:
          go-version: '1.25'

      # 3. Установка Chrome и виртуального экрана (Xvfb)
      - name: Install Deps
        run: |
          sudo apt-get update
          sudo apt-get install -y google-chrome-stable xvfb

      # 4. Скачивание библиотек Go
      - name: Go Mod Tidy
        run: |
          go mod tidy
          go get github.com/go-rod/rod
          go get github.com/go-rod/stealth

      # 5. ЗАПУСК
      # xvfb-run создает виртуальный экран с разрешением iPhone (примерно)
      # Это позволяет запускать Rod в режиме Headless(false)
      - name: Run Scraper
        run: xvfb-run --auto-servernum --server-args="-screen 0 375x812x24" go run main.go

      # 6. Сохранение
      - name: Upload Artifacts
        if: always()
        uses: actions/upload-artifact@v4
        with:
          name: iphone-results
          path: |
            *.png
            *.html
