name: Check VOE Light Schedule

on:
  workflow_dispatch: # Позволяет запускать кнопку вручную
  schedule:
    - cron: '0 * * * *' # Запуск каждый час (опционально)

jobs:
  check-site:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '25.6.1'

      - name: Install Dependencies
        run: npm install

      - name: Install Linux Libraries for Puppeteer
        # Устанавливаем библиотеки, нужные для Chrome и Xvfb
        run: |
          apt-get update && apt-get install -y wget gnupg ca-certificates apt-transport-https chromium chromium-driver xvfb
      - name: Run Script with Xvfb
        # xvfb-run создает виртуальный экран
        run: xvfb-run --auto-servernum --server-args="-screen 0 1280x960x24" node index.js

      - name: Upload Screenshot
        uses: actions/upload-artifact@v4
        if: always() # Загружать, даже если скрипт упал с ошибкой
        with:
          name: site-screenshot
          path: ./*.png
          retention-days: 1
